src/gr/uoi/cs/dmod/hecate/transitions/transitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">

<xsd:element name="Transitions" type="TransitionListType"/>

<xsd:complexType name="TransitionListType">
	<xsd:sequence>
		<xsd:element name="Transition" type="TransitionType"
		             maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="TransitionType">
	<xsd:sequence>
		<xsd:element name="Text" type="xsd:string"/>
	</xsd:sequence>
	<xsd:attribute name="language" type="xsd:language"/>
</xsd:complexType>

</xsd:schema>
